body {
    background-color: gray;
    color: whitesmoke;
}

.formulario-de-sugerencias{
    background-color: gray;
}



.contenido{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    color: whitesmoke;
}

.contenido > div{
    width: 500px;
    margin: 10px;
    align-content: space-around;
    margin-right: 2%;
}


.img-contenido{
    width: 40%;
}


.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.fa {
    padding: 30px;
    font-size: 20px;
    height: 10px;
    width: 15px;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    
    border-radius: 50%;
    background-color: whitesmoke;
    color: gray;
}

.fa:hover {
    opacity: 0.7;
}d

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    color: black;
    font-size: small;
}

.title{
    background-color: grey;
}
